:root {
  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --back-1: hsl(0, 0%, 2%);
  --back-2: hsl(0, 0%, 12%);
  --back-3: hsl(0, 0%, 18%);
  --back-4: hsl(0, 0%, 23%);

  --gray-1: hsl(0, 0%, 51%);
  --gray-2: hsl(0, 0%, 91%);
  --gray-1: hsl(0, 0%, 96%);

  --white: hsl(0, 0%, 100%);

  --purple: hsl(274, 82%, 60%);

  --red: hsl(0, 100%, 66%);

  /*========== Fonts ==========*/
  --sans-serif: "Inter", sans-serif;
  --serif: "Lora", serif;
  --mono: "Inconsolata", monospace;
}

*,
*::before,
*::after {
  font-family: var(--sans-serif);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

body {
  color: var(--back-1);
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.padding {
  padding: 1.5rem 1.5rem 0 1.5rem;
  max-width: 46rem;
}

/*========== Nav ==========*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}
.fonts {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 0.875rem;
  font-weight: 700;
}

.options {
  display: flex;
  align-items: center;
  gap: 1.625rem;
  height: 100%;
}

.book img {
  width: 1.75rem;
  height: 100%;
}

.fonts img {
  width: 0.75rem;
  height: 0.375rem;
}

.line {
  border-left: 1px solid #e9e9e9;
  height: 100%;
}

/*========== toggler switch ==========*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #757575;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--purple);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/*========== Search ==========*/
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: right;
}
.input-search {
  display: flex;
  align-self: start;
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 16px;
  background-color: #f4f4f4;
  font-size: 1rem;
  font-weight: 700;
  padding-left: 1.5rem;
  color: var(--back-1);
}
.input-search:focus {
  outline-color: var(--purple);
  outline-style: solid;
  outline-width: 1px;
}

.btn-search {
  position: absolute;
  cursor: pointer;
  background: none;
  width: 3.75rem;
  height: 3.75rem;
}

.input-empty {
  border: solid 1px var(--red);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--back-3);
  opacity: 0.25;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--back-3);
  opacity: 0.25;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--back-3);
  opacity: 0.25;
}

.div-search {
  width: 100%;
  height: 3rem;
}

.txt-empty {
  color: var(--red);
  margin-top: 0.5rem;
}

/*========== Results ==========*/
h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.pron {
  font-size: 1.125rem;
  color: var(--purple);
}

.word-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-play {
  cursor: pointer;
  background: none;
}

h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.mea {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding-top: 2.625rem;
}

.line-meaning {
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;
}

.remove {
  display: none !important;
}

.results {
  display: flex;
  flex-direction: column;
  margin: auto;
}

ul {
  list-style: none;
}

li {
  font-size: 0.93rem;
  line-height: 1.5rem;
  margin-bottom: 0.812rem;
  color: var(--back-3);
}

ul li::before {
  content: "\2022";
  color: var(--purple);
  font-weight: bold;
  display: inline-block;
  width: 1.5rem;
  margin-left: -1.5rem;
}

.meaning-title {
  color: #757575;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
}

/*========== Source ==========*/

.line {
  margin-left: 1.5rem;
}

.black {
  color: white;
}

.source {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/*========== Not Found ==========*/

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.emoji {
  font-size: 4rem;
}

.no-def {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  color: var(--back-3);
}

.sorry {
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
  color: #757575;
}
